.cross-button{
    @include reset-button;
    width: 60%;
    position: relative;
    border-radius: var(--border-radius-small);

    &::before,
    &::after{
        content: '';
        position: absolute;
        top:50%;
        left:12px;
        width:70%;
        height: 2px;
        background-color: var(--color-dark-alt);
    }

    &::before{
        rotate: 45deg;
    }
    &::after{
        rotate: -45deg;
    }
}