.header {
    padding-top: 3.3%;
    margin-bottom: 2.7%;


    &__logo {
        font-size: 36px;
        font-weight: 400;

        .black {
            color: var(--color-dark-alt);
        }

        .gray {
            color: var(--color-gray-alt);
        }

        @include tablet {
            font-size: 24px;
        }

    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    &__menu-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 2em;
        font-size: 20px;
        padding: 0;
        margin-left: 4em;

        @include tablet {
            font-size: 16px;
        }
    }

    &__menu-link {
        @include hover {
            text-shadow: 3px 3px 20px rgb(50, 87, 10);
            color: var(--color-accent);
        }
    }

    &__button {
        padding: 0.8em 2.3em;
        border-radius: var(--border-radius-small);
        border: var(--border);
        font-size: 24px;
        background-color: var(--color-light);

        @include hover {
            background-color: var(--color-accent);
            color: var(--color-light);
        }

        @include tablet {
            padding: 0.8em 2em;
            font-size: 18px;
        }
    }
}