body {
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.28;
    background-color: var(--color-light);
    margin: 0;
}
.container {
    max-width: 1338px;
    margin: 0 auto;
    @include desktop-above{
        min-width: 1338px;
    }
    @include desktop {
        max-width: 1338px;
    }
    @include tablet-above{
        min-width: 932px;
    }
    @include tablet {
        max-width: 932px;
    }

    @include mini-tablet-above{
        min-width: 700px;
    }
    @include mini-tablet{
        max-width: 700px;
    }


    @include mobile-above {
        min-width: 513px;
    }
    @include mobile {
        max-width: 513px;
    }

    @include mini-mobile-above {
        min-width: 289px;
    }
    @include mini-mobile {
        max-width: 289px;
    }
}

a,
button,
input,
textarea,
svg *{
    transition-duration: var(--transition-duration);
}

a{
    text-decoration: none;
    color: inherit;
}

